{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container container-text">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h2 class="text-center brand">Contact Us</h2>

      <p class="mb-4 thin">Have any questions or suggestions? Need assistance with your grocery delivery? We're here to help! First, Please log in to send us a message. We value your feedback and questions!</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <!-- Display if user is not logged in -->
      {% if not user.is_authenticated %}
      <form>
        <button class="btn-signuup" id="login-contact" type="submit"><a href="{% url 'account_login' %}" class="link">Log in</a></button>
      </form>
      {% else %}
      <!-- Display form if user is logged in-->
      {% if user.is_authenticated %}
      <form method="POST" enctype="multipart/form-data" class="card-body dark-bg">
        {% csrf_token %}
        <div class="form-group">
                <p class="thin">We're here to help! Please, send us a message. We value your feedback and questions!</p>
          <!-- Contact form -->
          {{ contact_form| crispy }}
        </div>
        <button class="btn btn-primary btn-signuup" id="login-contact" type="submit">Submit</button>
      </form>
      {% endif %}
      {% endif %}
      <!-- Form Errors -->
      {% if contact_form.errors %}
      <div class="alert alert-danger">
        {% for field in contact_form %}
          {% for error in field.errors %}
            <p>{{ error|escape }}</p>
          {% endfor %}
        {% endfor %}
        {% for error in contact_form.non_field_errors %}
          <p>{{ error|escape }}</p>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
